name: .NET Core Desktop

on:
  push:
    branches: [ "master" ]
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x # Target .NET 10.0

    - name: Publish ReminderApp
      run: dotnet publish ReminderApp/ReminderApp.csproj -c Release -o ./publish_output

    - name: Zip the output
      run: Compress-Archive -Path ./publish_output/* -DestinationPath ./ReminderApp.zip

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ReminderApp-Win-x64
        path: ./ReminderApp.zip

    - name: Release Note (Requires Tags)
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ./ReminderApp.zip
